<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pages-style.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
    <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a class="active" href="../../main-templates/html-home.html">HTML</a></li>
        <li><a href="../../main-templates/css-home.html">CSS</a></li>
        <li><a href="../../main-templates/about.html">About</a></li>
    </ul>
    <ul class="nav-bar">
        <li><a class="active2" href="basic-html-page.html">Basic HTML code</a></li>
        <li><a href="p-tag.html">Tag &lt;p&gt;</a></li>
        <li><a href="h-tags.html">Tags &lt;h&gt;</a></li>
        <li><a href="button-tag.html">Tag &lt;button&gt;</a></li>
        <li><a href="img-tag.html">Tag &lt;img&gt;</a></li>
        <li><a href="ul-ol-tags.html">Tags &lt;ul&gt;, &lt;ol&gt;</a></li>
    </ul>
    <div class = "down-menu">
        <h1>Basic HTML code</h1>
        <p class="text1">Basic <strong>HTML</strong></p>
        <p class="text2">This is the code for default <strong>HTML</strong> page:</p>
        <pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;</code>
        </pre>
        <p class="text2"><strong>&lt;!DOCTYPE html&gt;</strong> - It says to browser that this an <strong>HTML</strong> file.</p>
        <p class="text2"><strong>&lt;html&gt;...&lt;/html&gt;</strong> - Everything in this tag is an <strong>HTML</strong> code.</p>
        <p class="text2"><strong>&lt;head&gt;...&lt;/head&gt;</strong> - This tag contains information about the page. Sets tab's name, allow you to connect some scripts and styles and so on.</p>
        <p class="text2"><strong>&lt;title&gt;Title&lt;/title&gt;</strong> - Sets browser tab's name will be "Title". You can check it, if you hover the mouse cursor over opened tab in browser.</p>
        <p class="text3"><strong>&lt;body&gt;...&lt;/body&gt;</strong> - This tag contains the body of the page. That's the place, where you should start "coding" your site.</p>
    </div>
</header>
</body>
</html>