<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pages-style.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
    <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a class="active" href="../../main-templates/html-home.html">HTML</a></li>
        <li><a href="../../main-templates/css-home.html">CSS</a></li>
        <li><a href="../../main-templates/about.html">About</a></li>
    </ul>
    <ul class="nav-bar">
        <li><a href="basic-html-page.html">Basic HTML code</a></li>
        <li><a href="p-tag.html">Tag &lt;p&gt;</a></li>
        <li><a href="h-tags.html">Tags &lt;h&gt;</a></li>
        <li><a href="button-tag.html">Tag &lt;button&gt;</a></li>
        <li><a class="active2" href="img-tag.html">Tag &lt;img&gt;</a></li>
        <li><a href="ul-ol-tags.html">Tags &lt;ul&gt;, &lt;ol&gt;</a></li>
    </ul>
    <div class = "down-menu">
        <h1>Tag &lt;img&gt;</h1>
        <p class="text1">Tag <strong>&lt;img&gt;</strong></p>
        <p class="text2">Tag <strong>&lt;img&gt;</strong> is the <strong>HTML</strong> image. You can use this tag to insert an image to your web page. The "alt" attribute stands for text that will appear if the image would not load. Code example:</p>
        <pre><code>&lt;body&gt;
    &lt;img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"
    alt="Baby Yoda" width="500" height="400"&gt;
&lt;/body&gt;</code>
        </pre>
        <p class="text2">Your <strong>HTML</strong> page will look like <a class="example" href="img-tag-test.html">this</a></p>
    </div>
</header>

</body>
</html>