<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pages-style.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
    <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a class="active" href="../../main-templates/html-home.html">HTML</a></li>
        <li><a href="../../main-templates/css-home.html">CSS</a></li>
        <li><a href="../../main-templates/about.html">About</a></li>
    </ul>
    <ul class="nav-bar">
        <li><a href="basic-html-page.html">Basic HTML code</a></li>
        <li><a href="p-tag.html">Tag &lt;p&gt;</a></li>
        <li><a href="h-tags.html">Tags &lt;h&gt;</a></li>
        <li><a href="button-tag.html">Tag &lt;button&gt;</a></li>
        <li><a href="img-tag.html">Tag &lt;img&gt;</a></li>
        <li><a class="active2" href="ul-ol-tags.html">Tags &lt;ul&gt;, &lt;ol&gt;</a></li>
    </ul>
    <div class = "down-menu">
        <h1>Tags &lt;ul&gt;, &lt;ol&gt;</h1>
        <p class="text1">Tags <strong>&lt;ul&gt;</strong>, <strong>&lt;ol&gt;</strong></p>
        <p class="text2">Tags <strong>&lt;ul&gt;</strong>, <strong>&lt;ol&gt;</strong> are the <strong>HTML</strong> listings. Code example:</p>
        <pre><code>&lt;body&gt;
    &lt;ul&gt;
        &lt;li&gt;Some thing 1&lt;/li&gt;
        &lt;li&gt;Some thing 2&lt;/li&gt;
        &lt;li&gt;Some thing 3&lt;/li&gt;
    &lt;/ul&gt;

    &lt;ol&gt;
        &lt;li&gt;Some thing 1&lt;/li&gt;
        &lt;li&gt;Some thing 2&lt;/li&gt;
        &lt;li&gt;Some thing 3&lt;/li&gt;
    &lt;/ol&gt;
&lt;/body&gt;</code>
        </pre>
        <p class="text3">Your <strong>HTML</strong> page will look like <a class="example" href="ul-ol-tags-test.html">this</a></p>
    </div>
</header>

</body>
</html>