<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <style>
        p {
            text-decoration: none;
            font-family: "Bodoni MT Black", sans-serif;
            font-size: 30px;
            text-align: center;
            color: darkmagenta;
            background-color: #0f8a9d;
            padding: 30px;
        }
    </style>
</head>
<body>
<p>Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. Some paragraph. </p>
</body>
</html>