<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pages-style.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
    <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../../main-templates/html-home.html">HTML</a></li>
        <li><a class="active" href="../../main-templates/css-home.html">CSS</a></li>
        <li><a href="../../main-templates/about.html">About</a></li>
    </ul>
    <ul class="nav-bar">
        <li><a href="how-to-add-css.html">How to add CSS to HTML</a></li>
        <li><a href="css-syntax.html">Overall CSS syntax</a></li>
        <li><a href="css-selectors.html">CSS selectors</a></li>
        <li><a class="active2" href="css-box-model.html">CSS box model</a></li>
        <li><a href="css-properties.html">Basic properties</a></li>
        <li><a href="css-text-formatting.html">Text formatting</a></li>
    </ul>
    <div class = "down-menu">
        <h1>CSS box model</h1>
        <p class="text1">The <strong>CSS</strong> box model</p>
        <p class="text2">All <strong>HTML</strong> elements can be considered as boxes. The <strong>CSS</strong> box model is essentially a box that wraps around every <strong>HTML</strong> element. It consists of: margins, borders, padding, and the actual content. The image below illustrates the box model:</p>
        <img style="padding-top: 20px" alt="CSS box model" src="https://miro.medium.com/max/2948/1*gq1B7v2_gDEi3jkAwAvZNQ.png" width="60%">
        <p class="text2"><strong>Content</strong> - The content of the box, where text and images appear.</p>
        <p class="text2"><strong>Padding</strong> - Clears an area around the content. The padding is transparent.</p>
        <p class="text2"><strong>Border</strong> - A border that goes around the padding and content.</p>
        <p class="text2"><strong>Margin</strong> - Clears an area outside the border. The margin is transparent.</p>
        <hr>
        <p class="text3">The box model allows you to add a border around elements, and to define space between elements.</p>
    </div>
</header>
</body>
</html>