<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pages-style.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
    <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../../main-templates/html-home.html">HTML</a></li>
        <li><a class="active" href="../../main-templates/css-home.html">CSS</a></li>
        <li><a href="../../main-templates/about.html">About</a></li>
    </ul>
    <ul class="nav-bar">
        <li><a href="how-to-add-css.html">How to add CSS to HTML</a></li>
        <li><a class="active2" href="css-syntax.html">Overall CSS syntax</a></li>
        <li><a href="css-selectors.html">CSS selectors</a></li>
        <li><a href="css-box-model.html">CSS box model</a></li>
        <li><a href="css-properties.html">Basic properties</a></li>
        <li><a href="css-text-formatting.html">Text formatting</a></li>
    </ul>
    <div class = "down-menu">
        <h1>CSS syntax</h1>
        <p class="text1">Basic syntax</p>
        <p class="text2">The syntax in <strong>CSS</strong> is very simple. See the example:</p>
        <pre><code>p {
    color: darkgreen;
    font-weight: 900;
}</code>
        </pre>
        <p class="text2"><strong>p</strong> is a selector in <strong>CSS</strong>. It points to the <strong>HTML</strong> element you want to style.</p>
        <p class="text2"><strong>color</strong> and <strong>font-weight</strong> are properties.</p>
        <p class="text3"><strong>darkgreen</strong> and <strong>900</strong> are property values.</p>
    </div>
</header>
</body>
</html>