<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../styles/pages-style.css">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
    <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="../../main-templates/html-home.html">HTML</a></li>
        <li><a class="active" href="../../main-templates/css-home.html">CSS</a></li>
        <li><a href="../../main-templates/about.html">About</a></li>
    </ul>
    <ul class="nav-bar">
        <li><a href="how-to-add-css.html">How to add CSS to HTML</a></li>
        <li><a href="css-syntax.html">Overall CSS syntax</a></li>
        <li><a href="css-selectors.html">CSS selectors</a></li>
        <li><a href="css-box-model.html">CSS box model</a></li>
        <li><a href="css-properties.html">Basic properties</a></li>
        <li><a class="active2" href="css-text-formatting.html">Text formatting</a></li>
    </ul>
    <div class = "down-menu">
        <h1>CSS text formatting</h1>
        <p class="text1">Format your text</p>
        <p class="text2">These are some basic properties you can use to format your text elements. Example below:</p>
        <pre><code>p {
    text-decoration: none;
    font-family: "Bodoni MT Black", sans-serif;
    font-size: 30px;
    text-align: center;
    color: darkmagenta;
    background-color: #0f8a9d;
    padding: 30px;
}</code>
        </pre>
        <p class="text2"><strong>text-decoration</strong> - adds decoration to the text. Possible values: <strong>none</strong>, <strong>underline</strong>, <strong>overline</strong>, <strong>line-through</strong>.</p>
        <p class="text2"><strong>text-align</strong> - aligns the text in an element. Possible values: <strong>left</strong>, <strong>right</strong>, <strong>center</strong>, <strong>justify</strong>.</p>
        <p class="text2"><strong>color</strong> - sets a color to the text.</p>
        <p class="text2"><strong>font-family</strong> - used to change the font of the text. It consists of two parts: <strong>family-name</strong> and <strong>generic-name</strong>. <strong>family-name</strong> is the name of a font-family. For instance: "Arial", "Times New Roman". <strong>generic-name</strong> is the name of a generic-family. For example: "serif", "sans-serif", "cursive" etc.</p>
        <p class="text2"><strong>font-size</strong> - sets a size of the text.</p>
        <br>
        <p class="text3">Your <strong>HTML</strong> page will look like <a class="example" href="css-text-formatting-example/index1.html">this</a></p>
    </div>
</header>
</body>
</html>